:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }
  
  /* Top Navigation Bar */
  
  /* <nav> */
  .navbarX {
    height: var(--nav-size);
    background-color: rgb(26, 26, 26);;
    padding: 0 1rem;
    border-bottom: 1px solid darkorange;
    border-radius: 5px;
    /* margin-top: 10em; */
    margin-bottom: .5em;
  }
  
  /* <ul> */
  .navbarX-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  
  /* <li> */
  .navX-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border: 0 !important;
  }

  .nav-listY {
    display: flex;
  }
  
  /* Icon Button */
  .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button:hover {
    filter: brightness(1.2);
  }
  
  .icon-button svg { 
    fill: var(--text-color);
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }  
  
  /* Dropdown menuX */  

  .dropdown {
    position: absolute;
    top: 425px;
    width: 190px;
    transform: translateX(5%);
    background-color: rgba(17, 17, 17, 0.658);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  
  .menuX {
    width: 100%;
    font-size: .9rem;
  }
  
  .menuX-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
  }
  
  .menuX-item .icon-button {
    margin-right: 0.5rem;
  }
  
  
  .menuX-item .icon-button:hover {
    filter: none;
  }
  
  .menuX-item:hover {
    background-color: #525357;
  }
  
  .icon-right {
    margin-left: auto;
  }

  .disableClick{
    pointer-events: none;
    opacity: .4;
}
  
  /* CSSTransition classes  */
  .menuX-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menuX-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menuX-primary-exit {
    position: absolute;
  }
  .menuX-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menuX-secondary-enter {
    transform: translateX(110%);
  }
  .menuX-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  
  .menuX-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }

  .wip-btn {
    opacity: .4;
    cursor: not-allowed;
  }

/* Mobile portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .dropdown {
      top: 645px;
      width: 160px;
      transform: translateX(20%);
    }

    .ddArrival {
      top: 1376px;
    }

    .navbarX {
      padding: 0;
    }

    .navbarX-nav h1 {
      font-size: 1.1rem;
    }
  }

/* Tablet version */
@media only screen 
and (min-device-width: 568px) 
and (max-device-width: 1024px) {
  .ddArrival {
    top: 1147px;
  }
}