
  /* =================
Background images
================= */

/* Mobile */
.main {
    background-image: url("../../img/darken_galaxy_70.jpg");
    background-size: cover;
}

.photos-api, .hero-photos {
    background-image: url("../../img/darken-rover_50.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.678);
    background-position: 20% top;
}

.pass-satellite-api {
    background-image: url("../../img/darken-man-min_70.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.678);
    background-position: 20% top;
}

.launch-api {
    background-image: url("../../img/launch-api_50.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.678);
    background-position: 20% top;
}

.flights-api {
    background: rgb(29, 29, 29);
    background-size: cover;
    background-position: 20% top;
}

/* Tablets + desktop */
@media (min-width: 600px) {

    .main {
        background-image: url("../../img/darken_galaxy_70.jpg");
    }

    .photos-api, .hero-photos {
        background-image: url("../../img/darken-rover_50.jpg");
    }

    .pass-satellite-api {
        background-image: url("../../img/darken-man-min_50.jpg");
    }

    .launch-api {
        background-image: url("../../img/launch-api_50.jpg");
    }
}

/* Retina screens */
@media (min-width: 1600px) {
    .main {
        background-image: url("../../img/darken_galaxy.jpg");
    }

    .photos-api, .hero-photos {
        background-image: url("../../img/darken-rover.jpg");
    }

    .pass-satellite-api {
        background-image: url("../../img/darken-man-min.jpg");
    }

    .launch-api {
        background-image: url("../../img/launch-api_50.jpg");
    }
}