/* =================
Navbar
================= */

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    /* border: 2px solid red; */
}

.logo {
    /* border: 2px solid blue; */
    width: 25%;
    height: 25%;
    margin-top: 1.5em;
    cursor: pointer;
    margin-left: 3em;
    /* border:rgb(218, 107, 3) 1px solid; */
}

.logo-title {
    align-self: center;
    padding-left: 3em;
    margin-top: .5em;
    /* border: 1px solid red; */
}

.logo img {
    width: 100%;
    background-size: cover;
}

.nav {
    width: 100%;
    height: 10rem; 
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    /* border: 2px solid red; */
    transition: height .5s ease;
    padding: 3em;
}

.nav a:not(.active-link) {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list.active {
    left: 0;
}

.nav-item, .nav-item-footer {
    
    margin: 0 2rem;
    position: relative;
    padding: 0;
        background-image: linear-gradient(orange,darkorange);
        background-position: 0 100%; 
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition:
          background-size 0.2s,
          background-position 0s 0.2s;
}
  
.nav-item:hover, .nav-item-footer:hover {
    background-position: 100% 100%; 
    background-size: 100% .7px;
} 

.nav-item::after, .nav-item-footer::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: darkorange;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .2s ease;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(218, 107, 3, 0.8);
}

/*Navbar styling after scroll*/
.scrolling-active{
    background-color: rgb(0, 0, 0);
    opacity: 90%;
    box-shadow: 0 3px 1rem rgba(99, 98, 98, 0.1);
    padding-bottom: .6em;
    display: none;
}

/* Navbar for mobile/tablet version */
@media only screen and (max-width: 812px) {
    
    .hamburger {
        display: block;
        cursor: pointer;
    }    
    
    .nav-item {
        margin: .5em 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.312);
        /* border: 1px solid blue; */
        /* text-align: right; */
        /* padding: .3em; */
        padding-right: 1.5em;
    } 

    .nav-item:first-child {
        margin-top: 10rem;
    }

    .nav-item-footer {
        margin: 0;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo {  
        width: 40%;
        height: 40%;  
        text-align: center;
        margin-left: 6em;
        margin-top: 1em;    
        /* border:rgb(218, 107, 3) 1px solid; */
    }

    .logo-title {
        padding-left: 4em
    }

}
/* Navbar for mobile portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .nav-list {
        position: fixed;
        max-width: 50%;
        height: 100vh;
        /* border: 1px solid blue; */
        right: -100%;
        top: 0rem;
        margin-left: 12em;
        flex-direction: column;
        /* align-items: flex-end; */
        justify-content:right; 
        background-color: rgb(0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
}

/* Navbar for tablet version and mobile landscape */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 812px) {

    .nav-list {
        position: fixed;
        max-width: 50%;
        height: 100vh;
        /* border: 1px solid blue; */
        right: 100%;
        top: 0rem;
        margin-left: 25em;
        flex-direction: column;
        /* align-items: flex-end; */
        justify-content:right; 
        background-color: rgb(0, 0, 0, 0.7);
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .logo {
        width: 25%;
        height: 25%;  
        margin-top: 5em;
        margin-bottom: .5em;
    }

    .logo-title {
        padding-left: 5.5em;
    }

    .bar {
        width: 30px;
        height: 3.5px;
        margin: 6px auto;
    }
}
