/* =================
Fundamentals
================= */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    overflow-x: initial hidden;
    overflow-y: hidden;
}

html, 
body {
    background-color: rgb(0, 0, 0);    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.not-ready {
    pointer-events: none;
    opacity: 40%;
}


/* =================
Typography
================= */

body,
.nav__link,
.logo a {
    color: rgba(255, 255, 255, 0.945)
}

.logo-title, 
li {
    font-family: 'Hammersmith One', sans-serif;
}

.logo-title {
    letter-spacing: .7px;
}

li {
    font-size: 1.2rem;
}

a {
    color: rgb(218, 107, 3);
    cursor: pointer;
}

ul a {
    color: rgba(255, 255, 255, 0.753);
}

h2, 
h3, 
p, 
.nav-footer li,
.btn {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    line-height: 1.5;
}

footer {
    font-size: .9rem;
}

footer li {
    font-size: 1rem;
}

/* Buttons */

.btn {
    font-family: 'Hammersmith One', sans-serif;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    padding: 1em 2em;
    transition: all 0.5s;
    margin: 1.5em 0;    
    border: 1px solid rgba(255, 255, 255, 0.753);
    cursor: pointer;
    font-size: 1.1rem;
    text-transform: uppercase;
    align-self: flex-start;
    color: rgba(255, 255, 255, 0.952);
}

.btn:hover {
    background: rgba(255, 255, 255, 0.897);
    color: rgba(0, 0, 0, 0.938);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .btn span:after {
    content: '   \00bb';
    font-size: 1.2rem;
    position:sticky;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 5px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Buttons for mobile */
@media (max-width:812px) {
    .btn {
        font-size: .8rem;
        padding: .8em 2em;
        margin: 1em 0;
    }
}

/* Buttons for tablets */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 812px) {
    .btn {
        font-size: 1rem;
        padding: .9em 1.8em;
        margin: 1.5em 0;
    } 
  }

/* =================
Mars Photos API Page
================= */

.rovers {       
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0em 7em;
    margin-bottom: 0;
    background-color: black;
    /* border: darkorange 1px solid; */
}

.dead-rovers {
    /* background-image: url('../img/darkmoon.jpg'); */
    /* background-size: cover; */
    background-color: black;
    /* background-color: rgb(26, 7, 7); */
    display: flex;
    flex-direction: column;
    padding: 0 8em;
    margin: 0;
    margin-top: 2em;
    /* border: red 1px solid; */
}

.rover-info, .dead-rover-info {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.dead-rover-info {
    justify-content: space-around;
    padding: 0 3em;
}

.rover {
    opacity: 40%;
    padding: 2em;
    /* border: 1px solid blue; */
    width: 33%;
    margin-bottom: 0;
}

.dead-rover {
    opacity: 40%;
    /* border: 1px solid pink; */
    padding: 0 2em;
}

.rover a h2 {
    color: darkorange;
    margin-bottom: .5em;
}

.dead-rover a h2 {
    color: rgba(255, 60, 0, 0.781);
}

.rover p {
    font-size: 1rem;
    border-right: 1px solid orange;
    border-bottom: 0;
    padding-right: 1.5em;
    letter-spacing: .2px;
    line-height: 1.4em;
}

.dead-rover p {
    /* border: 1px solid red; */
    font-size: 1rem;
    border-bottom: 0;
    border-right: 1px solid rgba(179, 52, 21, 0.699);
    padding-right: 2em;
}

#no-border {
    border: 0;
} 

.rover-active {
    opacity: 1;
}

.rover-parameters, .dead-rover-parameters {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* border: darkgoldenrod 1px solid; */
    margin-bottom: 0;
    margin-top: 0;
    opacity: 0;
    height: 0;
}

.active-rover {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    transition: opacity .4s ease-in-out;
    opacity: 1;
    height: auto;
}

.rover-parameters-2 {
    display: flex;
    flex-direction: row;
    padding: 2em 6em;
    /* border: 1px solid rgba(179, 52, 21, 0.699); */
}

.rover-parameters-2 img {
    order: 1;
    /* border-left: darkgoldenrod 1px solid; */
    width: 375px;
    height: 250px;
    object-fit: contain;
    /* margin-right: 4em; */
}

.rover-parameters-info {
    /* justify-content: flex-start; */
    border-left: 1px solid orange;
}

.dead-rover-parameters-info {
    border-left: 1px solid rgba(179, 52, 21, 0.699);
}

.rover-parameters-info, .dead-rover-parameters-info {     
    /* border: darkgoldenrod 1px solid; */
    order: 0;
    align-self: center;   
    width: 60%;
    padding: 0 1em;
    margin: 2em 0;
}

.rover-parameters-info h3, .dead-rover-parameters-info h3 {
    font-size: 1.2rem;
    margin: .5em;
}



.photos {
    display: flex;
    /* border: 1px solid orange; */
    flex-direction: row;
    padding: 3em;
    justify-content: space-around;
    align-items:stretch;
    margin: 0;
}

.photos-title {
    width: 100%;
    margin-bottom: .5em;
}

.latest-photo {
    width: 90%;
    padding: 1em;
    border-radius: 22px;
    align-self: center;
    order: 0;
    /* border: 1px solid orange; */
}

.photos-info {
    margin: 0;
    width: 100%;
    padding: 0 2em;
    align-self: center;
    order: 1;
    border-left: 1px solid orange;
}

.dead-photos-info {
    order: 1;
    border-left: 1px solid rgba(255, 51, 0, 0.644);
    padding: 0 1em;
    margin-top: 2em;
}

.latest-photo-info {
    font-size: 1.2rem;
}

.remove {
    display: inline;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    
    .rovers { 
        padding: 3em 1em;
        /* border: 2px solid red; */
        justify-content: space-around;    
    }

    .dead-rovers {
        /* border: 1px solid red;     */
        padding: 1em 1em;
    }

    .dead-body {
        padding: 1em 0;
        width: 100%;
        /* border: 1px solid red; */
    } 
    
    .rover-info, .dead-rover-info {
        flex-direction: column;
    }

    .rover, .dead-rover {
        padding: 0;
        margin: 0;
        /* border: darkgoldenrod 1px solid; */
    } 

    .rover {
        border-bottom: 1px solid orange;
        width: 100%;
        padding-top: 1em;
    }

    .dead-rover {
        border-bottom: 1px solid rgba(179, 52, 21, 0.699);
        width: 100%;
        padding: 0;
        margin: 0;
        padding-top: 1em;        
    }

    .dead-rover-info {
        padding: 0;
    }

    .rover a h2 {
        margin-bottom: 0;
    }

    .rover p, .dead-rover p {
        border: 0;
        padding-bottom: 1em;
    } 

    .remove {
        /* visibility: hidden; */
        display: none;
    }

    .rover-parameters-2 {
        flex-direction: column;
        justify-content: space-between;
        /* border: red 1px solid; */

        /* border: darkgoldenrod 1px solid; */
        padding: 2em;
    }
    
    .rover-parameters-info, .dead-rover-parameters-info {     
        /* border: darkgoldenrod 1px solid; */
        order: 1;
        width: 100%;
        padding: 0 .5em;
    }

    .rover-parameters-info h3, .dead-rover-parameters-info h3 {
        font-size: 1rem;
    }

    .rover-parameters-2 img {
        width: 225px;
        height: 150px;
        /* border: darkgoldenrod 1px solid; */
        order: 0;
        margin-right: 0;
    }    

    .photos {
        /* border: 1px solid orange; */
        /* background-color: black; */
        padding: 0;
        flex-direction: column;
    }
    
    .photos-info {
        order: 1;
        border-left: 1px solid orange;
        padding: 0 1em;
        margin-top: 2em;
    }

    .photos-title {
        font-size: 1.2rem;
    }

    .latest-photo-info {
        font-size: 1rem;
    }

    .latest-photo {
        width: 100%;
        background-size: cover;
        order: 0;
        border-radius: 8px;
    }    
}

/* Tablet and mobile landscape verison for MartianPhotos page */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 812px) {
      
    .rovers {
          padding: 0 1em;
    }

    .dead-rovers {
      padding: 0 3em;
    }

    .dead-body .section-title {
        width: 70%;
        margin-bottom: 1em;
    }

    .rover-info {
          margin-top: 1em;
    }

    .dead-rover-parameters {
        margin-top: 2em;
    }

    .rover p {
          font-size: .9rem;
          padding: 0;
          padding-right: 1em;
    }

    .rover-parameters-2 {
         padding: 0 2em;
     }

     .rover-parameters-2 img {
         width: 300px;
         height: 200px;
     }

     .latest-photo {
         max-width: 500px;
         max-height: 300px;   
     }

     .rover-parameters-info {
        width: 600px;
     }

     .photos-title {
       font-size: 1.5rem;
    }

    .latest-photo-info {
        font-size: 1.2rem;
    }
  }