.aloha {
    margin: 15em 10em;
    border-top: 1px solid rgb(255, 102, 0);
    text-align: center;
    padding: 2em;
    background: rgba(54, 54, 54, 0.438);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aloha h2 {
    margin-bottom: 1em;
}

.yavash {
    opacity: .4;
}

.kidding {
    width: 400px;
    transition: ease-out .3s;
    outline: none;
}

.kidding-span {
    display: none !important;
}

.kidding:hover {
    background: none;
    box-shadow: inset 400px 0 0 0 rgb(255, 102, 0);
    color: whitesmoke;
    content: 'you kidding';
}

.kidding:hover span {
    display: inline-block !important;
}

.dream {
    opacity: .4;
}

/* Tablet version */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 1024px) {
      .bs-container {
          display: flex;
          height: 90vh;
      }
      .aloha {
        margin-top: 20em;
        display: flex;
        flex-direction: column;
        margin-bottom: 10em;
        margin-right: 5em;
        margin-left: 5em;
        justify-content: center;
      }

      .kidding {
          align-self: center;
      }
  }

/* Mobile portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .bs-container {
        display: flex;
        /* height: 90vh; */
        flex-wrap: wrap;
        justify-content: center;
    }
    .aloha {
      margin: 0;
      margin-top: 15em;
      padding: .5em 1em;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .aloha h2 {
        margin-bottom: .5em;
    }

    .kidding {
        align-self: center;
        max-width: 200px;
    }
  }

