.aloha {
    margin: 15em 10em;
    border-top: 1px solid rgb(255, 102, 0);
    text-align: center;
    padding: 2em;
    background: rgba(54, 54, 54, 0.438);
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aloha h2 {
    margin-bottom: 1em;
}

.yavash {
    opacity: .4;
}

.kidding {
    width: 400px;
    transition: ease-out .3s;
    outline: none;
}

.kidding-span {
    display: none !important;
}

.kidding:hover {
    background: none;
    box-shadow: inset 400px 0 0 0 rgb(255, 102, 0);
    color: whitesmoke;
    content: 'you kidding';
}

.kidding:hover span {
    display: inline-block !important;
}

