.animation {
    /* margin: 10em 5em; */
    /* padding: 5em; */
    /* margin-top: 5em; */
    padding-top: 2em;
    margin-bottom: 0;
    /* display: flex; */
    justify-content: space-between;
    height: 30vh;
}

.animationM {
    height: 100vh !important;
}

.animationTitle {
    font-family: 'Source Sans Pro', sans-serif;
    width: 55%;
    /* align-self: flex-end; */
    padding: 2em 7.5em;
    position: relative;
    top: 55%;
    /* padding-right: 0; */
}

.animationTitle h1 {
    margin-bottom: .5em;
    font-size: 2.2rem;
    /* width: 55%; */
}

.rocket {
    width: 350px;
    height: 100%;
    opacity: .4;
    margin-left: 15em;
    animation: slide 10s ease-in infinite;
    animation-fill-mode: forwards;
}

.neutron {
    /* width: 400px; */
    height: 200%;
    opacity: .4;
    margin-left: 25em;
    animation: slideNeutron 15s ease-in infinite;
    animation-fill-mode: forwards;
}

.neutronM {
    width: 300px !important;
    height: 100%;
}

.issMP {
    width: 50%;
    height: 90px;
    opacity: .4;
    animation: drift 10s infinite;
}

@keyframes drift {
    from {transform:translateX(-500px)}
    to {transform: translateX(1200px)}
}

.rocketM {
    animation: slideM 20s ease-in infinite;
    margin: 0;
    height: 520px;
}

@keyframes slide {
    0% {transform:rotate(53deg) scale(1) translate(200px, 800px);}
    100% {transform: rotate(85deg) scale(.5) translate(-1000px, -1300px);} 
}

@keyframes slideNeutron {
    0% {transform: scale(1) translateY(200px);}
    100% {transform: scale(.1) translateY(-2400px);} 
}

@keyframes slideM {
    0% {transform:rotate(60deg) scale(1) translate(-100px, 400px);}
    50% {transform: rotate(-40deg) scale(.5) translate(400px, -2900px);} 
    100% {transform: rotate(321deg) scale(.1) translate(500px, -2800px);} 
}


.capsule {
    height: 125px;
    margin-right: 1em;
    opacity: .4;
    animation: slideX 15s ease-in-out infinite;
    animation-fill-mode: both;     
}

.capsuleM {
    animation: slideXM 20s ease-in-out infinite;
}

@keyframes slideX {
    0% {transform: rotate(60deg) scale(.4) translateX(-400px);}
    50% {transform: rotate(10deg) scale(.6) translateY(-20px);}
    100% {transform: rotate(5deg) scale(1) translateY(350px);}
    
}

@keyframes slideXM {
    0% {transform: rotate(60deg) scale(.4) translateX(-1000px) translateY(-1200px);}
    50% {transform: rotate(10deg) scale(.6) translateY(-20px);}
    100% {transform: rotate(5deg) scale(1.5) translateY(400px);}
}


/* ThreeD */
.mainThreeD {
    background-color: #000;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    perspective: 10em;
    perspective-origin: 50% calc(50% - 2em);
}

.mainThreeDMP {
    justify-content: space-between;
    flex-direction:row;
}

.titleRS {
    margin-top: 0;
    margin-bottom: 4.5em;
    text-align: center;
    position: absolute;
}

.gravity-chevron a {
    position: static;
    /* margin-left: 2.8em; */
    animation: chevronBounce 2s infinite ease-out;
    margin-bottom: 1em;
    color: whitesmoke !important;
    text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;
}

@keyframes chevronBounce {
    0%, 100% { bottom: 7.8em;}
    50% {bottom: 7.7em; animation-timing-function: ease-in; opacity: .4;}
}


.titleRS h1 {
    font-size: 2.3rem;
    font-family:  'Source Sans Pro', sans-serif;
}

.rsMP {
    width: 30%;
    align-self: flex-end;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2em 0;
    margin-left: 5em;
}

.scene {
    position: relative;
    margin-top: 4em;
    transform-style: preserve-3d;
    animation: sceneRotate 30s infinite linear; 
}

.sceneMP {
    margin-right: 5em;
}

@keyframes sceneRotate {
    to {transform: rotateY(360deg)}
}

.ball{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: rgb(231, 29, 14);

    position: absolute;
    left: -.5em;
    bottom: 1em;

    background-image: radial-gradient(
        circle at top,
        rgb(218, 106, 61),
        #000
    );

    animation: 
        ballBounce 1.5s infinite ease-out,
        sceneRotate 30s infinite linear reverse; 
}

@keyframes ballBounce {
    0%, 100% { bottom: .5em;}
    50% {bottom: 3em; animation-timing-function: ease-in;}
}

.ballShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        #0007, #0000 50%
    );
    animation: ballShadow 1.5s infinite ease-out;
}

@keyframes ballShadow {
    0%, 8%, 93.5%, 100% { transform: scale(1); opacity: 1;}
    50% { transform: scale(2); opacity: .5; animation-timing-function: ease-in;}
}

.cube {
    width: 2em;
    height: 2em;
    transform-style: preserve-3d;

    position: absolute;
    bottom: -1em;
    left: -1em;

    animation: cubeHeight 1.5s infinite linear;
}

@keyframes cubeHeight {
    0%, 100% { height: 1.5em;}
    8%, 93.5% { height: 2em;}
}

.cube .left, .cube .right, .cube .front, .cube .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    padding-top: .2em;
    background: rgba(166, 206, 187, 0.467);
    box-shadow: 0 0 0.5em #000a inset;
}
.cube .front {transform: translateZ(1em);}
.cube .right {transform: rotateY(90deg) translateZ(1em);}
.cube .back {transform: rotateY(180deg) translateZ(1em);}
.cube .left {transform: rotateY(270deg) translateZ(1em);}

.cube .top {
    position: absolute;
    width: 2em;
    height: 2em;
    background: rgba(148, 173, 156, 0.467);
    transform: translateY(-50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000a inset;
}

.cube .bottom {
    position: absolute;
    width: 2em;
    height: 2em;
    background: #0007;
    bottom: 0;
    transform: translateY(50%) rotateX(90deg);
    box-shadow: 0 0 0.5em #000;
}

.floor{
    width: 15em;
    height: 15em;
    background-image:
        radial-gradient(#0000, #000 75%), 
        repeating-conic-gradient(
            from 45deg, 
            #111 0deg 90deg, 
            #222 90deg 180deg);
    background-size: 100%, 1em 1em;

    position: absolute;
    transform: 
        translate(-50%, -50%)
        rotateX(90deg);
    top: 1em;    
}

.grav-title {    
    text-shadow: 2px 2px 5px #ff99cc,
    -2px 1px 20px #ff99cc;
}

.react-player {
    margin: 2em 0;
}

/* Mobile portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .rocket {
        width: 200px;
    }
    
    @keyframes slide {
        0% {transform: rotate(60deg) scale(1) translate(200px, 400px)}
        100% {transform: rotate(297deg) scale(.1) translate(-200px, 200px);}
    }
    
    @keyframes slideX {
        0% {transform: rotate(60deg) scale(.4) translate(-500px, -100px);}
        100% {    transform: rotate(37deg) scale(1) translate(350px, 970px);}
    }

    .animationTitle {
        padding: 1em 2em;
        font-size: .9rem;
    }

    .rocketM {
        animation: slideM 15s ease-in infinite;
    }

    @keyframes slideM {
        0% {transform:rotate(34deg) scale(.5) translate(-100px, 400px);}
        100% {transform: rotate(34deg) scale(.1) translate(-500px, -500px);} 
    }

    .capsuleM {
        animation: slideXM 15s ease-in-out infinite;
    }

    @keyframes slideXM {
        0% {transform: rotate(60deg) scale(.4) translateX(-400px);}
        50% {transform: rotate(198deg) scale(.6) translateY(-20px);}
        100% {transform: rotate(43deg) scale(1.2) translateY(480px);}
    }

    .issMP {
        margin-top: 2em;
        height: 70px;
        animation: drift 8s infinite;
    }

    .rimuv {
        display: none;
    }

    .rsMP {
        align-self: flex-start;
        font-size: .8rem;
        margin-left: 1.5em;
    }

    .sceneMP {
        margin-right: 2em;
    }

    .animationTitle {
        width: 90%;
        top: 68%;
        padding: 3em 1em;
    }

    .animationTitle h1 {
        font-size: 1.5rem;
    }

    .titleRS {
        margin-bottom: 4.5em;
    }

    .titleRS h1 {
        font-size: 1.5rem;
        margin-top: 5em;
    }
    
  }

  /* Tablet version */
@media only screen 
and (min-device-width: 568px) 
and (max-device-width: 1024px) {
    .animationTitle {
        width: 90%;
        top: 65%;
        padding: 3em 2em;
    }

    .animationTitle h1 {
        font-size: 2rem;
    }
}