body {
    overflow-x: hidden;
}

.pis {
    display: flex;
    flex-direction: column;
    margin: 2em 5em;
    /* border: 1px solid rgb(165, 22, 46); */
}

.astro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid blue; */
}

.astro-info-big {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    font-family: 'Source Sans Pro', sans-serif;
}

.astro-info-big h1 {
    margin-bottom: 1em;
}

.astro-info {
    display: flex;
    flex-direction: row;
    margin: 0em;
    /* border: 1px solid red; */
    padding: 0;
    font-size: .5rem;
}

.astro-bio {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.astro-img {
    width: 170px;
    height: 200px;
    border-radius: 100%;
    margin-left: 3em;
    margin-top: 4em;
    border:2px solid #fff;
        /* -moz-border-radius:190px;
        -webkit-border-radius:190px;
        border-radius:190px; */
}

.flag {
    width: 40px;
    height: 30px;
    border-radius: 0;
    margin-bottom: 1em;
}


.craft-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em 5em;
    padding-bottom: 0;
    width: 600px;
    
}

.craft-visual img {
    width: 400px;
    height: 300px;
    background-size: cover;
    padding: 0;
    margin: 0;
    /* padding: 1em; */
    /* border: 1px solid orange; */
    
}

.craft-info {
    padding-left: 2em;
    border-left: 1px solid darkorange; 
    order: 0;
}

.craft-visual {
    /* border: 1px solid orange; */
    padding: 1em;
    order: 1;
}

.craft-visual h2 {
    margin-bottom: 1em;
}

.btn-pis {
    font-size: .6rem;
    margin-right: .5em;
}

.astro a {
    margin-right: .8em;
}

.credits {
    font-size: .7rem;
    color: gray;
    text-align: center;
    padding-left: 4em;
    padding-top: 1em;
}

/* Mobile portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) { 
    .hero-photos-pis {
        background-position: 20% top;
    }

    .pis {
        flex-direction: row;
        margin: 2em 1em;
    }

    .astro {
        flex-direction: column;
        /* border: 1px solid green; */
    }

    .astro-info-big {
        flex-direction: column;
        margin: 0;
        /* border:1px solid red; */
    }

    .astro-info {
        font-size: .3rem;
    }

    .astro-bio {
        flex-direction: column;
        padding: 0 1em;
        border-left: solid 1px darkorange;
        margin-left: 1em;
    }

    .astro-photo-section {
        /* border: 1px solid green; */
        margin: 1em 0;
        text-align: center;
    }

    .astro-img {
        width: 100px;
        height: 150px;
        border-radius: 100%;
        margin: 0;
        margin-top: 1em;
    }

    .astro-photo-section p {
        /* border: green 1px solid; */
        padding: 0;
    }
    .craft-details {
        /* border: 1px solid blue; */
        padding: 0 1em;
        flex-direction: column;
        width: 100%;
    }

    .craft-visual img {
        width: 130px;
        height: 100px;
        /* border: 1px solid red; */
    }

    .craft-visual {
        order: 1;
    }

    .craft-visual h2 {
        font-size: 1rem;
        margin-bottom: .5em;
    }

    .craft-visual h3 {
        font-size: .8rem;
    }

    .astro-bio h1, .craft-info h1 {
        font-size: 1.2rem;
    }

    .astro-bio, .craft-info p {
        font-size: .7rem;
    }

    .craft-info {
        /* border: 1px solid green; */
        margin-top: 2em;
        width: 100%;
        padding-left: 1em;
        order: 0;
    }
  }

/* Mobile/tablet version */
@media only screen 
  and (min-device-width: 568px) 
  and (max-device-width: 1024px) {
    .pis {
        flex-direction: row;
        margin: 2em 1em;
    }

    .astro {
        flex-direction: column;
        margin: 0 2em;
        padding: 0 1em;
        /* border: 1px solid green; */
    }

    .astro a {
        margin: 0.5em;
    }

    .astro-info-big {
        flex-direction: column;
        margin-right: 1em;
        /* border:1px solid red; */
    }

    .astro-info {
        font-size: .3rem;
    }
    
    .astro-bio {
        border-left: 1px solid darkorange;
        padding-left: 1em;
    }

    .astro-img {
        width: 120px;
        height: 170px;
        border-radius: 100%;
        margin-left: 2em;
        margin-top: 2em;
    }

    .craft-details {
        /* border: 1px solid blue; */
        justify-content: start;
        padding-left: 0;
        flex-direction: column;
        width: 100%;
    }

    .craft-details h1 {
        margin-bottom: 1em;
    }

    .craft-visual {
        /* border: tomato 1px solid; */
        order: 1;
    }

    .craft-visual img {
        width: 250px;
        height: 200px;
        margin: 2em 0;
        /* border: 1px solid red; */
    }

    .craft-visual h2 {
        font-size: 1rem;
        margin-bottom: .8em;
    }

    .craft-visual h3 {
        font-size: 1rem;
    }

    .craft-info h1 {
        font-size: 1.4rem;
    }

    .craft-info {
        /* border: 1px solid rgb(128, 115, 0); */
        margin-top: 2em;
        margin-left: 0;
        width: 100%;
        padding-left: 1em;
        order: 0;
    }
}
